*{
    margin: 0;
    padding: 0;
}
.animation{
    position: absolute;
    background:url(./cartoon_road.jpg);
    height: 96vh;
    width: 100%;
}
img {
    animation: anim 10s  infinite;
    position: absolute;
    bottom: 10px;
    width: 500px;
}

@keyframes anim {
    from{
    left: 0;
    }
    to{
    left: 80%;
    }
}